In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

from sklearn.linear_model import LogisticRegression

from google.colab import files
uploaded = files.upload()

train = pd.read_csv("jobclassinfo2.csv")
train.head()

Saving jobclassinfo2.csv to jobclassinfo2.csv

,ID,JobFamily,JobFamilyDescription,JobClass,JobClassDescription,PayGrade,EducationLevel,Experience,OrgImpact,ProblemSolving,Supervision,ContactLevel,FinancialBudget,PG
0,1,1,Accounting And Finance,1,Accountant I,5,3,1,3,3,4,3,5,PG05
1,2,1,Accounting And Finance,2,Accountant II,6,4,1,5,4,5,7,7,PG06
2,3,1,Accounting And Finance,3,Accountant III,8,4,2,6,5,6,7,10,PG08
3,4,1,Accounting And Finance,4,Accountant IV,10,5,5,6,6,7,8,11,PG10
4,5,2,Administrative Support,5,Admin Support I,1,1,0,1,1,1,1,1,PG01

In [3]:
print(train.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 66 entries, 0 to 65
Data columns (total 14 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   ID                    66 non-null     int64
 1   JobFamily             66 non-null     int64
 2   JobFamilyDescription  66 non-null     object
 3   JobClass              66 non-null     int64
 4   JobClassDescription   66 non-null     object
 5   PayGrade              66 non-null     int64
 6   EducationLevel        66 non-null     int64
 7   Experience            66 non-null     int64
 8   OrgImpact             66 non-null     int64
 9   ProblemSolving        66 non-null     int64
 10  Supervision           66 non-null     int64
 11  ContactLevel          66 non-null     int64
 12  FinancialBudget       66 non-null     int64
 13  PG                    66 non-null     object
dtypes: int64(11), object(3)
memory usage: 7.3+ KB
None

In [4]:
train['JobFamily'].value_counts()

7     10
4      8
2      5
8      5
12     5
15     5
1      4
11     4
3      3
5      3
6      3
9      3
10     3
14     3
13     2
Name: JobFamily, dtype: int64

In [5]:
from sklearn import preprocessing
label_encoder = preprocessing.LabelEncoder() 
label_encoder.fit(train['JobFamilyDescription']) 
train['JobFamilyDescription'] = label_encoder.transform(train['JobFamilyDescription'])
label_encoder.fit(train['JobClassDescription']) 
train['JobClassDescription'] = label_encoder.transform(train['JobClassDescription'])
label_encoder.fit(train['PG']) 
train['PG'] = label_encoder.transform(train['PG'])

train.head()

,ID,JobFamily,JobFamilyDescription,JobClass,JobClassDescription,PayGrade,EducationLevel,Experience,OrgImpact,ProblemSolving,Supervision,ContactLevel,FinancialBudget,PG
0,1,1,0,1,0,5,3,1,3,3,4,3,5,4
1,2,1,0,2,1,6,4,1,5,4,5,7,7,5
2,3,1,0,3,2,8,4,2,6,5,6,7,10,7
3,4,1,0,4,3,10,5,5,6,6,7,8,11,9
4,5,2,1,5,4,1,1,0,1,1,1,1,1,0

In [6]:
features = pd.Series(['JobFamilyDescription', 'JobClass', 'JobClassDescription', 'PayGrade', 'EducationLevel', 'Experience', 'OrgImpact', 'ProblemSolving', 'Supervision', 'ContactLevel', 'FinancialBudget'])
from sklearn.linear_model import LogisticRegression
X = train[['JobFamilyDescription', 'JobClass', 'JobClassDescription', 'PayGrade', 'EducationLevel', 'Experience', 'OrgImpact', 'ProblemSolving', 'Supervision', 'ContactLevel', 'FinancialBudget']].values
y = train['JobFamily'].values

slr = LogisticRegression() 
slr.fit(X, y)
coeff_df = pd.DataFrame(slr.coef_)  
coeff_df['features'] = features

coeff_df

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

,0,1,2,3,4,5,6,7,8,9,10,features
0,-0.190116,-0.768396,-0.824056,0.505042,0.275066,0.189404,0.371944,0.315017,0.397260,0.397513,0.582354,JobFamilyDescription
1,-0.551817,-0.214265,0.020337,0.037873,0.620736,0.101348,-0.216171,0.032506,-0.272688,0.614784,0.557227,JobClass
2,-0.171274,-0.298462,0.126025,0.987128,-0.238168,-0.491686,-0.091641,0.981651,-0.456507,0.021244,0.024182,JobClassDescription
3,-2.097645,0.142392,0.406581,0.157690,-0.425740,-0.848342,-0.126832,0.255072,0.419735,0.299191,-0.003650,PayGrade
4,0.218222,-0.004032,-0.479912,0.463254,-0.209373,0.018787,0.606029,0.234785,0.593897,0.041860,0.047556,EducationLevel
5,0.488137,0.064181,-0.012779,-0.655180,0.217936,0.590595,0.274327,0.019359,0.570781,0.108599,-0.506839,Experience
6,0.695063,-0.438992,0.536175,0.147877,0.360211,-0.475923,-0.690092,0.041574,0.023290,0.145848,-0.043613,OrgImpact
7,-0.091685,-0.340065,0.558957,0.180922,0.737026,0.441577,0.342720,-0.136553,0.050196,-0.899002,-0.014160,ProblemSolving
8,0.186742,0.890096,-0.884334,-0.321967,-0.173877,-0.490856,-0.187797,-0.083888,0.027860,-0.162369,0.237985,Supervision
9,0.336383,0.677432,-0.623808,-0.073780,0.134992,0.534491,0.286232,-0.178347,-0.653023,0.089137,-0.649247,ContactLevel
10,0.235952,0.338274,-0.094993,-0.169110,-0.195892,0.201254,-0.144180,-0.442093,-0.102465,-0.164659,0.041947,FinancialBudget
11,-0.102546,0.098205,0.239650,-0.199805,-0.532140,0.412372,0.156121,-0.093040,0.112922,0.112904,-0.429517,NaN
12,0.061952,0.016841,0.350264,-0.505956,-0.582547,0.407073,0.012611,-0.393305,-0.251936,-0.615884,0.307399,NaN
13,0.250793,0.020106,0.290680,-0.147053,-0.208904,-0.940809,-0.445128,-0.276814,-0.450086,0.274425,0.002566,NaN
14,0.731838,-0.183314,0.391211,-0.406937,0.220674,0.350715,-0.148142,-0.275925,-0.009236,-0.263592,-0.154189,NaN

In [7]:
train = train.drop(['ID'], axis=1)
train = train.drop(['JobFamilyDescription'], axis=1)
train

,JobFamily,JobClass,JobClassDescription,PayGrade,EducationLevel,Experience,OrgImpact,ProblemSolving,Supervision,ContactLevel,FinancialBudget,PG
0,1,1,0,5,3,1,3,3,4,3,5,4
1,1,2,1,6,4,1,5,4,5,7,7,5
2,1,3,2,8,4,2,6,5,6,7,10,7
3,1,4,3,10,5,5,6,6,7,8,11,9
4,2,5,4,1,1,0,1,1,1,1,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...
61,15,62,61,3,1,1,1,2,1,1,1,2
62,15,63,62,5,4,1,3,3,4,3,4,4
63,15,64,63,6,5,2,4,4,5,7,5,5
64,15,65,64,8,5,5,6,5,6,7,7,7
65,15,66,65,10,5,5,6,6,7,8,11,9

In [40]:
from sklearn.model_selection import train_test_split

# train - на тренировочные и тестовые
X = train.drop(['JobFamily'], axis=1)
y = train['JobFamily']

X_train, X_test, y_train, y_test = train_test_split(X,y, test_size=0.2)

model = LogisticRegression()

model.fit(X_train, y_train)

answers_pred = model.predict(X_test)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [41]:
from sklearn.metrics import accuracy_score

# answers_pred - ответы которые вернула модель для X_test
# y_test - это правильные ответы для X_test
print(accuracy_score(y_test,answers_pred))

0.6428571428571429