In [1]:
from google.colab import files
uploaded = files.upload()

Saving test_weather.csv to test_weather.csv
Saving train_weather.csv to train_weather.csv

In [2]:
import pandas as pd

train = pd.read_csv("train_weather.csv")
test = pd.read_csv("test_weather.csv")

train.head()

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustDir,WindGustSpeed,WindDir9am,WindDir3pm,...,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,Brisbane,13.7,23.6,0.0,5.0,9.6,SSE,24.0,SSW,ESE,...,65.0,53.0,1028.4,1026.7,1.0,1.0,18.3,22.3,0,0
1,Sydney,15.4,21.2,61.2,5.8,2.7,S,43.0,WSW,SSW,...,91.0,65.0,1018.8,1016.5,8.0,7.0,15.6,20.7,1,1
2,Richmond,16.8,30.9,1.0,NaN,NaN,NE,35.0,NNW,NE,...,80.0,38.0,1020.4,1013.2,1.0,NaN,19.6,30.0,0,0
3,NorfolkIsland,13.9,17.1,0.2,3.8,8.9,SE,37.0,SE,SSE,...,56.0,63.0,1027.7,1026.1,3.0,1.0,15.3,15.8,0,0
4,Mildura,16.0,36.1,0.0,6.8,12.9,ENE,33.0,ENE,E,...,58.0,32.0,1018.5,1016.0,0.0,3.0,26.0,34.9,0,0

In [3]:
train.shape

(121873, 22)

In [4]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 121873 entries, 0 to 121872
Data columns (total 22 columns):
 #   Column         Non-Null Count   Dtype
---  ------         --------------   -----
 0   Location       121873 non-null  object
 1   MinTemp        120652 non-null  float64
 2   MaxTemp        120842 non-null  float64
 3   Rainfall       119145 non-null  float64
 4   Evaporation    71329 non-null   float64
 5   Sunshine       65698 non-null   float64
 6   WindGustDir    113157 non-null  object
 7   WindGustSpeed  113212 non-null  float64
 8   WindDir9am     112959 non-null  object
 9   WindDir3pm     118519 non-null  object
 10  WindSpeed9am   120354 non-null  float64
 11  WindSpeed3pm   119528 non-null  float64
 12  Humidity9am    119642 non-null  float64
 13  Humidity3pm    118491 non-null  float64
 14  Pressure9am    109238 non-null  float64
 15  Pressure3pm    109271 non-null  float64
 16  Cloud9am       75814 non-null   float64
 17  Cloud3pm       73397 non-null   float64
 18  Temp9am        120340 non-null  float64
 19  Temp3pm        119217 non-null  float64
 20  RainToday      121873 non-null  int64
 21  RainTomorrow   121873 non-null  int64
dtypes: float64(16), int64(2), object(4)
memory usage: 20.5+ MB

In [5]:
train['RainTomorrow'].value_counts()

0    95015
1    26858
Name: RainTomorrow, dtype: int64

In [6]:
train.isna().sum()

Location             0
MinTemp           1221
MaxTemp           1031
Rainfall          2728
Evaporation      50544
Sunshine         56175
WindGustDir       8716
WindGustSpeed     8661
WindDir9am        8914
WindDir3pm        3354
WindSpeed9am      1519
WindSpeed3pm      2345
Humidity9am       2231
Humidity3pm       3382
Pressure9am      12635
Pressure3pm      12602
Cloud9am         46059
Cloud3pm         48476
Temp9am           1533
Temp3pm           2656
RainToday            0
RainTomorrow         0
dtype: int64

In [7]:
train[train.columns[train.isnull().sum() != 0 ]].isnull().sum().sort_values()

MaxTemp           1031
MinTemp           1221
WindSpeed9am      1519
Temp9am           1533
Humidity9am       2231
WindSpeed3pm      2345
Temp3pm           2656
Rainfall          2728
WindDir3pm        3354
Humidity3pm       3382
WindGustSpeed     8661
WindGustDir       8716
WindDir9am        8914
Pressure3pm      12602
Pressure9am      12635
Cloud9am         46059
Cloud3pm         48476
Evaporation      50544
Sunshine         56175
dtype: int64

In [18]:
numerical = train.columns[train.dtypes != "object"]
numerical

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm', 'RainToday', 'RainTomorrow'],
      dtype='object')

In [23]:
nan_cols = train[numerical][train[numerical].columns[train[numerical].isnull().sum() != 0]].isnull().sum().index

In [24]:
nan_cols

Index(['MinTemp', 'MaxTemp', 'Rainfall', 'Evaporation', 'Sunshine',
       'WindGustSpeed', 'WindSpeed9am', 'WindSpeed3pm', 'Humidity9am',
       'Humidity3pm', 'Pressure9am', 'Pressure3pm', 'Cloud9am', 'Cloud3pm',
       'Temp9am', 'Temp3pm'],
      dtype='object')

In [25]:
train_2 = train.copy()

In [27]:
for i in range(len(nan_cols)):
    print(nan_cols[i])
    # print(train[nan_cols[i]].mean())
    train[nan_cols[i]].fillna(value = train[nan_cols[i]].mean(), inplace = True)

MinTemp
MaxTemp
Rainfall
Evaporation
Sunshine
WindGustSpeed
WindSpeed9am
WindSpeed3pm
Humidity9am
Humidity3pm
Pressure9am
Pressure3pm
Cloud9am
Cloud3pm
Temp9am
Temp3pm

In [28]:
train.isna().sum()

Location            0
MinTemp             0
MaxTemp             0
Rainfall            0
Evaporation         0
Sunshine            0
WindGustDir      8716
WindGustSpeed       0
WindDir9am       8914
WindDir3pm       3354
WindSpeed9am        0
WindSpeed3pm        0
Humidity9am         0
Humidity3pm         0
Pressure9am         0
Pressure3pm         0
Cloud9am            0
Cloud3pm            0
Temp9am             0
Temp3pm             0
RainToday           0
RainTomorrow        0
dtype: int64

In [30]:
train = train.drop(columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm'])
train.isna().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
RainTomorrow     0
dtype: int64

In [31]:
from sklearn import preprocessing 

label_encoder = preprocessing.LabelEncoder() 

label_encoder.fit(train['Location']) 
train['Location'] = label_encoder.transform(train['Location']) 
train

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday,RainTomorrow
0,7,13.7,23.6,0.0,5.000000,9.600000,24.0,7.0,9.0,65.0,53.0,1028.400000,1026.700000,1.000000,1.000000,18.3,22.3,0,0
1,37,15.4,21.2,61.2,5.800000,2.700000,43.0,19.0,24.0,91.0,65.0,1018.800000,1016.500000,8.000000,7.000000,15.6,20.7,1,1
2,34,16.8,30.9,1.0,5.400952,7.592793,35.0,7.0,26.0,80.0,38.0,1020.400000,1013.200000,1.000000,4.492486,19.6,30.0,0,0
3,27,13.9,17.1,0.2,3.800000,8.900000,37.0,17.0,20.0,56.0,63.0,1027.700000,1026.100000,3.000000,1.000000,15.3,15.8,0,0
4,20,16.0,36.1,0.0,6.800000,12.900000,33.0,17.0,19.0,58.0,32.0,1018.500000,1016.000000,0.000000,3.000000,26.0,34.9,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
121868,14,17.6,25.1,0.0,5.400952,7.592793,56.0,9.0,19.0,58.0,58.0,1012.800000,1010.200000,4.408355,4.492486,23.5,24.2,0,0
121869,0,15.1,25.2,0.0,10.000000,11.300000,48.0,11.0,28.0,55.0,41.0,1018.800000,1018.300000,4.408355,4.492486,19.0,24.6,0,0
121870,23,10.5,18.4,1.2,5.400952,7.592793,50.0,15.0,13.0,97.0,93.0,1017.671683,1015.276048,4.408355,4.492486,12.5,15.9,1,1
121871,0,13.6,19.8,2.6,5.400952,7.500000,54.0,11.0,20.0,76.0,46.0,1008.500000,1007.400000,4.408355,4.492486,14.4,18.9,1,1
121872,43,6.9,15.9,0.2,5.400952,7.592793,20.0,9.0,11.0,70.0,65.0,1029.700000,1026.700000,4.408355,4.492486,10.7,14.3,0,0

In [32]:
from sklearn.linear_model import LogisticRegression # логистическая регрессия

from sklearn.model_selection import train_test_split
from sklearn.metrics import accuracy_score, recall_score, precision_score, f1_score, confusion_matrix

X = train.drop(columns=['RainTomorrow'])
y = train['RainTomorrow']
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=1/3, random_state=42)

log = LogisticRegression()

log.fit(X_train, y_train)

# predict - тестирование
y_pred = log.predict(X_test)

# оценка классификатор/модели
score = accuracy_score(y_test, y_pred)

/usr/local/lib/python3.7/dist-packages/sklearn/linear_model/_logistic.py:818: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  extra_warning_msg=_LOGISTIC_SOLVER_CONVERGENCE_MSG,

In [33]:
score

0.8416984615384615

In [34]:
numerical_test = test.columns[test.dtypes != "object"]

nan_cols_test = test[numerical_test][test[numerical_test].columns[test[numerical_test].isnull().sum() != 0]].isnull().sum().index

for i in range(len(nan_cols_test)):
    test[nan_cols_test[i]].fillna(value = test[nan_cols_test[i]].mean(), inplace = True)

In [35]:
test.isna().sum()

Location           0
MinTemp            0
MaxTemp            0
Rainfall           0
Evaporation        0
Sunshine           0
WindGustDir      976
WindGustSpeed      0
WindDir9am       994
WindDir3pm       395
WindSpeed9am       0
WindSpeed3pm       0
Humidity9am        0
Humidity3pm        0
Pressure9am        0
Pressure3pm        0
Cloud9am           0
Cloud3pm           0
Temp9am            0
Temp3pm            0
RainToday          0
dtype: int64

In [36]:
test = test.drop(columns = ['WindGustDir', 'WindDir9am', 'WindDir3pm'])
test.isna().sum()

Location         0
MinTemp          0
MaxTemp          0
Rainfall         0
Evaporation      0
Sunshine         0
WindGustSpeed    0
WindSpeed9am     0
WindSpeed3pm     0
Humidity9am      0
Humidity3pm      0
Pressure9am      0
Pressure3pm      0
Cloud9am         0
Cloud3pm         0
Temp9am          0
Temp3pm          0
RainToday        0
dtype: int64

In [37]:
test['Location'] = label_encoder.transform(test['Location']) 
test

,Location,MinTemp,MaxTemp,Rainfall,Evaporation,Sunshine,WindGustSpeed,WindSpeed9am,WindSpeed3pm,Humidity9am,Humidity3pm,Pressure9am,Pressure3pm,Cloud9am,Cloud3pm,Temp9am,Temp3pm,RainToday
0,29,11.0,22.1,0.0,5.526106,8.200000,57.000000,30.0,22.0,52.0,34.0,1028.5,1024.6,3.000000,4.52454,14.7,20.7,0
1,2,5.6,20.7,0.0,5.526106,7.680982,44.000000,7.0,24.0,65.0,42.0,1023.0,1018.1,4.425955,4.52454,13.9,20.3,0
2,10,9.5,18.4,0.0,1.600000,7.680982,26.000000,2.0,15.0,67.0,43.0,1024.7,1021.5,7.000000,7.00000,11.5,17.9,0
3,1,18.4,22.0,0.0,3.800000,0.200000,40.173785,22.0,19.0,80.0,79.0,1019.5,1017.0,8.000000,8.00000,20.7,21.4,0
4,22,10.4,20.7,0.4,3.800000,9.000000,43.000000,15.0,26.0,55.0,38.0,1019.5,1022.4,5.000000,4.00000,15.7,18.0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
13536,4,13.1,26.7,0.2,5.526106,7.680982,52.000000,13.0,28.0,58.0,35.0,1005.4,1003.9,4.425955,4.52454,19.4,26.0,0
13537,34,16.4,30.1,0.0,5.600000,7.680982,43.000000,2.0,20.0,79.0,38.0,1003.2,1000.8,4.425955,4.52454,21.6,29.7,0
13538,41,22.9,32.9,0.0,5.526106,7.680982,52.000000,28.0,20.0,23.0,17.0,1018.4,1015.0,4.425955,1.00000,25.2,31.4,0
13539,25,12.5,34.2,0.0,5.526106,7.680982,31.000000,15.0,13.0,37.0,13.0,1021.8,1018.7,4.425955,4.52454,21.1,31.3,0
13540,9,1.1,13.1,0.0,2.400000,0.200000,30.000000,7.0,6.0,87.0,92.0,1018.2,1013.2,8.000000,8.00000,7.1,10.2,0

In [38]:
y_pred_test = log.predict(test)
y_pred_test

array([0, 0, 0, ..., 0, 0, 1])

In [39]:
answer = pd.DataFrame(y_pred_test, columns=['RainTomorrow'])
answer = answer.reset_index()
answer

       index  RainTomorrow
0          0             0
1          1             0
2          2             0
3          3             1
4          4             0
...      ...           ...
13536  13536             0
13537  13537             0
13538  13538             0
13539  13539             0
13540  13540             1

[13541 rows x 2 columns]

In [40]:
answer.to_csv('answer_Adelya.csv', index=False)